.example-container {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/Group 31.png");
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: cover;
}

.example-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
  background-color: rgba(255, 255, 255, 0.95);
  min-width: 250px;
  max-width: 350px;
  width: 30%;
}
.example-sidenav-small {
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
}
