<nav class="navbar shadow-sm  navbar-light bg-light sticky-top">
<!--  <a class="navbar-brand" href="#" mat-button type="button">aa</a>-->
  <button  class="shadow-sm" mat-flat-button matTooltip="Side Navigation" (click)="onBtnClick()" aria-label="Example icon button with a home icon">
    <mat-icon style="color: #59CBD3">menu_open</mat-icon>
  </button>

  <ul class="nav justify-content-end" style="margin-right: 10px">

<!--    <li (click)="onNotificationSwitch()" matRipple  style="cursor: pointer;border-radius: 100px"class="nav-item">-->
<!--      <mat-icon  style="margin:15px; color: gray" matBadge="3" matBadgeColor="warn">notifications_active</mat-icon>-->
<!--    </li>-->
    <button matTooltip="Notifications" class="nav-item" (click)="onNotificationSwitch()" mat-icon-button >
      <mat-icon  matBadge="{{numberOfNotifications}}" style="color: gray"  matBadgeColor="accent">notifications_active</mat-icon>
    </button>
  </ul>
</nav>

