  <div class="row" style="height: 100%">
    <div class="col-6  p-0">
      <img [src]="book.slika" style="" class="img-fluid box-item-image" alt="">
    </div>
    <div class="col-6 p-0 box-item-content">
      <div class="row justify-content-center align-content-center align-items-center" style="height: 100%">
        <div class="col-12">
          <p style="font-size:18px; color: #3F98B1 ; font-weight: bold ;text-align: center">{{book.naziv}}</p>
        </div>
        <div class="col-12">
          <p style="font-size:16px; color: #3F98B1 ;text-align: center">{{book.pisac}}</p>
        </div>
      </div>

    </div>
  </div>
